HOST=0.0.0.0
PORT=3333
EXPORT_TIME_ZONE=Europe/Warsaw
# Opcjonalne wartości początkowe formularza po stronie przeglądarki.
DEFAULT_REMOTE_DIRECTORY=/usr/local/cfg
CLAROTY_API_URL=https://eu.api.medigate.io
CLAROTY_API_USER=heliox
CLAROTY_API_TOKEN=....
